@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    transform: translate(50%, 50%);
    position: absolute;
    display: flex;
    background-color: hsl(212, 45%, 89%);
}

.container{
    width: 50%;
    height: auto;
    padding: 2%;
    border-radius: 5%;
    background-color: white;
}

.img img{
    width: 100%;
    height: 50%;
    margin: auto;
    border-radius: 5%;
}

.description{
    padding: 8%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.description .desc_head{
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.description .desc_details{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}